body{
	font-family:arial;
}

.top-up{
	background:#f2f8ff;
}
.top-up .col-lg-3{	
	height:137px;
}
.top-up img{
	margin-top:20px;
	margin-left:15px;
}
.top-up p{
	color:#2563b7;
	font-family:Arial;
}

.top-up .fa-search {
    margin-left: -28px;
    position: absolute;
    margin-top: 25px;
    color:#231f20;
}

.top-up input[type="submit"] {
    width: 20px;
    position: absolute;
    background: rgba(255, 0, 0, 0);
    height: 20px;
    padding: 0;
    margin-left: -33px;
    color: #eff6ff;
    margin-top: 23px;
    text-indent: 100%;
    border: 0;
}
.top-up input[type="text"] {
	width:215px;
	height:27px;
	border:1px solid #BFCBDB;
	border-radius:3px;
	padding-left: 8px;
	margin-top:20px;
}
.top-up input[type="text"]::-webkit-input-placeholder {color:#2563b7; font-size:13px; }
.top-up input[type="text"]::-moz-placeholder {color:#2563b7; font-size:13px;}/* Firefox 19+ */
.top-up input[type="text"]:-moz-placeholder {color:#2563b7; font-size:13px;}/* Firefox 18- */
.top-up input[type="text"]:-ms-input-placeholder {color:#2563b7; font-size:13px;}

.top-search{
	text-align:right;
}
.top-phone-up{
	font-size:12px;
	margin-top:8px;
}
.top-phone{
	font-size:21px;
	margin-top:-21px;
}
.top-phone .tp-2{color:#ff0000;font-size:39px;display: inline-block;padding-top: 6px;font-weight:600;}

.top-phone .tp-1 {
    margin-top: 15px;
    display: inline-block;
    float: left;
}
.top-address {
    margin-top: 60px;
}

.top-email {
    margin-top: 77px;
    font-size: 18px;
    text-align: center;
}
.top-menu{
	background:#164c95;
	height: 39px;
	box-shadow: 0 7px 8px #1C2C41, 0 6px 6px #1C2C41 inset;
}
.top-navbar{
	min-height: 35px!important;
	height: 35px!important;
	padding: 0;
	margin: 0;
	border: 0;
}
.left-top-menu {
    color: #fff!important;
    font-size: 14px;
    height: 25px;
    margin-top: 7px;
    padding: 0!important;
    background: url('../img/fire.png') no-repeat;
    background-position-y: 0px;
    padding-left: 30px!important;
    padding-top: 2px!important;
}

.navbar-nav .dropdown {
    text-transform: uppercase;
}
.nav.navbar-nav {
    margin-left: 50px;
}

.right-top-menu {
    display: inline-block;
    float: right;
    margin-top: -24px;
    margin-bottom: 0;
}

.right-top-menu li {
    display: inline;
    text-transform: uppercase;   
    margin-right: 15px;
    font-size: 13px;
}

.right-top-menu a {
	color: #fff;
	text-decoration:none;
	transition: 0.5s;
}
.right-top-menu a:hover {
    color: #8D8686;
    transition: 0.5s;
}
/*Ð²ÐµÑ€Ñ…Ð½ÐµÐµ Ð²Ñ‹ÐµÐ·Ð¶Ð°ÑŽÑ‰ÐµÐµ Ð¼ÐµÐ½ÑŽ*/
#ddmenu {
    width: 250px;
    height: 35px;
    list-style:none;
    overflow: hidden;
}

#ddmenu li a {
  display: block;
  float: left;
  text-decoration: none;
}

#ddmenu li:hover{
	background:#1a529e;
}

#ddmenu li:hover > a { color: #7180a0; text-decoration:none;}

#ddmenu ul {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 2;
  width: 100%;
  height:72px;
  background: #2563b7;
  display: none;
  margin: 0;
  padding: 7px 0;
  list-style: none;
  box-shadow: 0 7px 8px #1C2C41, 0 6px 6px #1C2C41 inset;
}

#ddmenu ul li { 
  display: inline-block; 
  width: 23.5%; 
  float:left;
  font-size:13px;
  height:60px;
  padding:5px 8px;
  margin-left:7px;
  margin-right:7px;
}

#ddmenu ul li.separ {
	width:2px!important;
	height:55px;
	background:#124b99;
	margin:0;
	padding:0;
}

#ddmenu ul li a{
	 color:#fff;
	 display:inline-block;
	 background: url('../img/fire-sub.png') no-repeat;
	 padding-left:35px!important;
} 

#ddmenu ul li a {
  display: block;
  width: 100%;
  height:55px;
  padding: 6px 7px;
  line-height: 1.4em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#ddmenu ul li:hover {
 background: rgba(51, 122, 183, 0);
 background:#1a529e;
}
.but-close{
	background: url('../img/close-menu.png') no-repeat;
    width: 100px;
    float: right;
    height: 25px;
    border: none;
    margin-top: 9px;
    margin-right: 25px!important;
	z-index:-1;
}
/*Ð²ÐµÑ€Ñ…Ð½ÐµÐµ Ð²Ñ‹ÐµÐ·Ð¶Ð°ÑŽÑ‰ÐµÐµ Ð¼ÐµÐ½ÑŽ*/

#jq-dropdown-1 {
    height: 35px;
}
#myCarousel {
    margin-top: 4px;
}
#ddmenu {
    margin-bottom: 0!important;
}
.carousel-control .icon-prev:before {
    content: url(../img/slider/main-prev.png)!important;
}
.carousel-control .icon-next:before {
    content: url(../img/slider/main-next.png)!important;
}
.carousel-control:hover, .carousel-control:focus{
	transition:0.5s;
}
.obraschenie{
	background:#164c95;
	min-height:93px;
	margin-top:35px;
}
.obraschenie>div>div>div{
	/* height:93px; */
	color:#dae9fc;
}
.obr1{	
	font-size: 12px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 0;
}
.obr2{
	font-size:26px;
}
.obr-main-center {
    font-size: 13px;
    margin-top: 13px;
    line-height: 1.3;
    color: #fff;
}
.obr-main-right img {
    margin-top: -33px;
}
.main-maid h3 {
    text-align: center;
    color: #2563b7;
    font-size: 18px;
    margin-top: 30px;
	margin-bottom: 30px;
}
.objects-one{
	margin-bottom:25px;
	overflow: hidden;
	border-top: 3px solid #124b99;
	padding: 5px 0;
	border-bottom: 1px solid #124b99;
}

.objects-one>div{
	/*height: 137px; */
	width: 49%;
	float: left;
	/* border-top: 3px solid #124b99; */
	/* border-bottom: 1px solid #124b99; */
}
.car-description {
    color: #231f20;
    position: relative;
    font-size: 12px;
    display: table;
    text-transform: uppercase;
}
.objects-one>div>div {
    width: 47%;
    margin-top: 2px;
    float: left;
}

.car-image1>span{
	background:url('../img/fire-carousel1.png') no-repeat;
	position:absolute;
	width:66px;
	z-index: 1;
	height:42px;
}
.car-description p {
	display: table-cell;
	vertical-align: middle;
	height: 137px;
	padding-left: 25px;
}
.about-main {
    width: 74%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.3;
    color: #000;
}
.parts-desc {
    color: #000;
    font-size: 13px;
    padding: 15px 60px 10px 0;
}

.row.our-parts .col-lg-4 {
    min-height: 170px;
    margin-top: 10px;
}

.main-form {
    width: 68%;
    margin: 20px auto;
}

.top-main-form {
    height: 40px;
    background: #2563b7;
    color: #fff;
    padding: 10px 26px;
    font-size: 16px;
}

#center-form label {
    width: 146px;
    display: block;
    padding-left: 30px;
    font-weight: 200;
    margin-bottom: 20px;
}

#center-form input,#center-form textarea {
    margin-left: 150px;
    margin-top: -48px;
    float: left;
    width: 74%;
}

#center-form input {
    height: 33px;
}

#center-form textarea {
    height: 60px;
}

#center-form {
    padding: 20px;
}
.middle-form {
    padding: 25px 0 30px;
    margin: 10px 0;
    border: 1px solid #789ed1;
	background: #f3f2f2;
}

.top-main-form>input[type="submit"] {
    margin: 0!important;
    margin-left: -3px!important;
    width: 100px!important;
    border: none;
    background: none;
    font-size: 16px;
    height: 24px!important;
    position: relative;
}
#form-top-submit:before {
    content: 'red';
	width:20px;
	height:20px;
}
.footer {
    height: 100px;
    background: #2563B7;
}
.footer-row {
    width: 870px;
    margin: 0 auto;
    height: 100px;
}
.footer-row>div {
    padding-left: 0;
    color: #fff;
    line-height: 1.3;
    padding-top: 15px;
    font-size: 15px;
}
.footer-row .col-lg-2 {
    text-align: right;
    padding-right: 0;
	padding-top: 40px;
}